@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* body{
  height: 100vh;
  width: 100vw;
   */
/* } */
body {
  background-color: black;
}
.main {
  background-image: url("assets/images/bg.jpg");
  height: 700px;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 120vw);
}
.main .box {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  background-color: black;
}
nav {
  display: flex;
  max-width: 60vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
nav img {
  width: 155px;
  color: rgb(84, 4, 4);
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* font-size: 30px; */
  position: relative;
  gap: 23px;
  padding: 0 30px;
}
.hero > :nth-child(1) {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.sep {
  height: 7px;
  background-color: rgb(46, 46, 46);
  position: relative;
  z-index: 20;
}
.btn {
  padding: 3px 8px;
  /* font-weight: bold; */
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid white;
  /* border: none; */
  border-radius: 4px;
  cursor: pointer;
}
.btn-red {
  background-color: rgba(186, 5, 5, 0.908);
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 500;
  /* outline: none; */
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.btn-red-sm {
  background-color: red;
  color: white;
}
.main input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-size: 15px;
  /* font-weight: 900; */
  border: 1px solid rgba(246, 246, 246, 0.4);
  border-radius: 5px;
  background-color: rgba(23, 23, 23, 0.2);
}
.bor {
  border: none;
  /* font-size: 25px; */
}
.me{
  font-size: 25px;
}
.first {
  height: 78vh;
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  align-items: center;
  position: relative;
  z-index: 10;
}

.secimg {
  position: relative;
}
.secimg img {
  width: 390px;
  position: relative;
  z-index: 10;
  max-width: 90vw;
}
.secimg video {
  position: absolute;
  top: 51px;
  right: 0;
max-width: 90vw;
  width: 390px;
}
section.first > div {
  padding: 34px 0;
  display: flex;
  flex-direction: column;
}
section.first > div :first-child {
  font-size: 48px;
  font-weight: bolder;
}
section.first > div :nth-child(2) {
  font-size: 24px;
  /* font-weight: bolder; */
}
section.second > div {
  display: flex;
  flex-direction: column;
}
section.second > div :first-child {
  font-size: 48px;
  font-weight: bolder;
}
section.second > div :nth-child(2) {
  font-size: 24px;
  /* font-weight: bolder; */
}
.faq {
  background-color: black;
  color: white;
  padding: 34px;
}
.faq h2 {
  font-size: 48px;
  text-align: center;
}
.faqbox:hover {
  background-color: rgb(61, 61, 61);
}
.faqbox svg {
  filter: invert(1);
}
.faqbox {
  transition: all 0.2s ease-in;
  font-size: 24px;
  justify-content: space-between;
  cursor: pointer;
  display: flex;
  background-color: rgb(34, 34, 34);
  padding: 24px;
  margin: 8px auto;
  max-width: 70vw;
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 38px;
}
.email input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-size: 18px;
  /* font-weight: 900; */
  border: 1px solid rgba(246, 246, 246, 0.4);
  border-radius: 5px;
  background-color: rgba(23, 23, 23, 0.2);
}
.ready {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;

  /* display: flex;
   gap: 225px; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-self: unset; */
  /* justify-content: center; */
}
.footer-item {
  display: flex;
  gap: 23px;
  flex-direction: column;
}
footer {
  color: rgba(141, 138, 138, 0.714);
  max-width: 60vw;
  margin: auto;
  height: 55vh;
  padding: 14px;
}
footer a {
  /* text-decoration: none; */
  font-size: 14px;
  color: rgba(141, 138, 138, 0.714);
  /* margin: 2px 30vw; */
  /* text-align: center; */
}
footer .questions {
  padding: 34px 0;
}
footer p{
  color: rgba(141, 138, 138, 0.714);
font-size: 14px;
padding-top: 15px;
font-weight: 400;
}
/* .footer-item1{
  padding-left: 72px;
} */
/* screen 0 - 1300 | <= */
@media screen and (max-width: 1200px) {
  /* body {
    background-color: red;
  } */
  nav{
    max-width: 90vw;
  }
  .first {
    flex-wrap: wrap;
  }
  .hero > :nth-child(1) {
    /* font-weight: 900; */
    font-size: 32px;
    /* text-align: center; */
  }

  .hero > :nth-child(2) {
    /* font-weight: 900; */
    font-size: 18px;
    /* text-align: center; */
  }
  .hero > :nth-child(3) {
    /* font-weight: 900; */
    font-size: 18px;
    /* text-align: center; */
  }
  .hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
  }
  .faq h2{
    text-align: center;
    font-size: 32px;
  }
  section.first > div :first-child {
    font-size: 32px;
    font-weight: bolder;
}
section.first > div :first-child {
  font-size: 32px;
  font-weight: bolder;
}
section.first > div :first-child {
  font-size: 22px;
  font-weight: bolder;
}
section.second > div :nth-child(2) {
  font-size: 16px;
  /* font-weight: bolder; */
}
section.first > div :nth-child(2) {
  font-size: 18px;
  /* font-weight: bolder; */
}
section.first > div :nth-child(2) {
  font-size: 15px;
  /* font-weight: bolder; */
}
}
@media screen and (max-width: 1200px) {
  /* body {
    background-color: red;
  } */
  .main{
    height: 600px;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 29px;
  }
}
@media screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
  /* .main{
    height: 600px;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 29px;
  /* } */
} 

